<!--order2.html_정서&선영-->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>

    <link href="https://fonts.googleapis.com/css2?family=Gowun+Batang:wght@400;700&display=swap" rel="stylesheet">

    <title>coffee를 퀵하게 pick, 커픽!</title>

    <style>
        * {
            font-family: 'Gowun Batang', serif;
            color: white;
        }

        body {
            background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://cdn.aitimes.com/news/photo/202010/132592_129694_3139.jpg');
            background-position: center;
            background-size: cover;
        }

        h1 {
            font-weight: bold;
        }

        .order {
            width: 500px;
            margin: 60px auto 0px auto;
            padding-bottom: 60px;
        }

        .mybtn {
            width: 100%;
        }

        .order > table {
            margin : 40px 0;
            font-size: 18px;
        }

        option {
            color: black;
        }

                .mytitle {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 20px auto;
        }

        .mytitle2 {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 20px auto;
        }

        .main-box {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 20px auto;

            box-shadow: 0px 0px 3px 0px gray;
            padding: 40px;
        }

        .main-box > table {
            margin: 60px 0 5px 0;
            font-size: 28px;
        }
        .mycards {
            margin: 30px auto 10px auto;
            width: 95%;
            max-width: 600px;

        }

        .floating-box {
            width: 95%;
            max-width: 600px;
            margin: 20px auto 0px auto;
            padding: 20px;
            box-shadow: 0px 0px 3px 0px gray;
            background-color: white;
        }

    </style>
    <script>
        // let temp_url = window.location.href
        // let user_order_num = Number(temp_url.split('/')[4])
        let user_order_num = {{order_num}}

        // 정서
        $(document).ready(function () {
            show_main();
        });

        function show_main() {

            let user_order_num = {{order_num}}

            $.ajax({
                type: 'GET',
                url: '/main_order',
                data: {},
                success: function (response) {
                    console.log(response)
                    let rows = response['orders']
                    console.log(rows)
                    for (let i = 0; i < rows.length; i++) {
                        // user_order_num = rows[i]['order_num']
                        let order_name = rows[i]['order_name']
                        let due = rows[i]['due']
                        let cafe_name = rows[i]['cafe_name']
                        console.log(order_name, due, cafe_name)
                        let temp_html = `<h2><td></td>주문서 이름: ${order_name}</h2>
                                      <h1><td>마감시간: ${due}</td></h1>

                                      <table class="table">
                                            <thead>
                                            <tr>
                                                <th>${cafe_name}</th><th><h5> 메뉴에서 pick! 해주세요 :)</h5></th>
                                            </tr>
                                            </thead>
                                       </table>
                                   </div>`

                        if (rows[i]['order_num'] == user_order_num) {
                           $('#main-box').append(temp_html)
                        }
                    }

                }
            });
        }

        let user_cafe_name = ''

        // 선영
        $(document).ready(function () {
            show_main_cafe_name();
        });

        function show_main_cafe_name() {

            let user_order_num = {{order_num}}

            $.ajax({
                type: 'GET',
                url: '/main_order',
                data: {},
                success: function (response) {
                    // console.log(response)
                    let rows = response['orders']
                    // console.log(rows)
                    for (let i = 0; i < rows.length; i++) {
                        if (rows[i]["order_num"] == user_order_num) {
                            // console.log(user_order_num)
                            user_cafe_name = rows[i]["cafe_name"]
                            // console.log(user_cafe_name)
                        }
                    }
                }
            });
        }


<!--    경록_취합 주문 가져오기 -->
        $(document).ready(function () {
            show_order_count();
        });

        function show_order_count() {
            $.ajax({
                type: 'GET',
                url: '/order_count',
                data: {},
                success: function (response) {
                    let rows_order_count = response['order_count']
                    let total_order_count = 0;
                    for (let i = 0; i < rows_order_count.length; i++) {
                        let id_order_count = rows_order_count[i]['id']
                        let no_order_count = rows_order_count[i]['count']
                        total_order_count += no_order_count;

                        let temp_html_order_count = `<div id="order_count_box" class="floating-box"
                                                        style="width: 500px; background-color: darkgrey;">
                                                        <p> 총 ${total_order_count} 잔</p>
                                                        <p> ${id_order_count} ${no_order_count} 잔</p>
                                                     </div>`
                        $('#order_count_box').append(temp_html_order_count)
                    }
                }
            })
        }




<!--    경록_취합 주문 보여주기 -->

        $(document).ready(function () {
            show_order();
        });
        function show_order() {
            $.ajax({
                type: 'GET',
                url: '/order',
                data: {},
                success: function (response) {
                    let rows = response['orders']
                    for (let i = 0; i < rows.length; i++) {
                        let name = rows[i]['user_name']
                        let menu = rows[i]['menu']
                        let type = rows[i]['ondo_type']
                        let size = rows[i]['size']

                        if (rows[i]['order_num'] == user_order_num){
                        let temp_html2 = `<div class="col">
                                            <div class="card h-77">
                                                <div class="card-header" style="background-color: darkgrey;">
                                                </div>
                                                <div class="card-body" style="background-color: darkgrey;">
                                                    <h5 class="card-title">${name}
                                                        <button type="button" id="order-delete-btn" class="btn-sm float-right"> X </button>
                                                    </h5>
                                                    <p class="card-text">${menu}</p>
                                                    <p>${size}</p>
                                                    <p>${type}</p>
                                                </div>
                                            </div>`

                        $('#order_box').append(temp_html2)
                        }

                    }
                }
            });
        }

<!--    경록_주문 삭제 기능 -->
        $(document).ready(function () {
            $("#order-delete-btn").on("click", function () {
                if (confirm("해당 주문을 삭제하시겠습니까?")) {
                    $.ajax({
                        url: "/delete-item",
                        type: "DELETE",
                        success: function (result) {
                            alert("해당 주문이 삭제되었습니다");
                        },
                        error: function (xhr, status, error) {
                            alert("오류가 발생하였습니다");
                        }
                    });
                }
            });
        });




        function show_menus() {

            $.ajax({
                type: 'GET',
                url: '/order_cafe_list',
                data: {},
                success: function (response) {
                    console.log(response)
                    // let tmp = "스타벅스"

                    let rows = response['orders']
                    for (let i = 0; i < rows.length; i++) {
                        let cafe_name = rows[i]['cafe_name']
                        if (cafe_name == user_cafe_name) {
                            let menus = rows[i]['menus']
                            console.log(menus)
                            $('#menu').empty()
                            for (let menu of menus) {
                                let temp_html = `<option value="${menu}">${menu}</option>`
                                $('#menu').append(temp_html)
                        }
                        }
                    }

                }
            });
        }

        function save_order() {
            $('#order-box').empty()
            let name = $('#name').val()
            let menu = $('#menu').val()
            let type = $('#type').val()
            let size = $('#size').val()

            $.ajax({
                type: 'POST',
                url: '/order',
                data: {
                    num_give : user_order_num,
                    name_give: name,
                    menu_give: menu,
                    type_give: type,
                    size_give: size
                },
                success: function (response) {
                    alert(response['msg'])
                    window.location.reload()
                }
            });
        }

        function clip() {

            var url = '';
            var textarea = document.createElement("textarea");
            document.body.appendChild(textarea);
            url = window.document.location.href;
            textarea.value = url;
            textarea.select();
            document.execCommand("copy");
            document.body.removeChild(textarea);
            alert("URL이 복사되었습니다.")
        }





    </script>
</head>
<body>
<!--정서-->
    <div class="btn">
        <tbody id="order-link">
        <span class="btn btn-outline-info"><a onclick="clip(); return false;">링크복사</a></span>
        </tbody>
    </div>
    <div class="mytitle">
        <h2> 커피 주문,<br/>스트레스 없이 퀵(Quick)하게 픽(Pick)하자!</h2>
    </div>
    <div class="mytitle2">
        <h1>coffick</h1>
    </div>

    <div id="main-box" class="main-box">
    </div>

<!--    선영-->
    <div class="mask"></div>
    <div class="order">
<!--        <h1>coffick</h1>-->
<!--        <h3>coffee 주문을 퀵하게 pick, 커픽!</h3>-->
<!--        <p>-->
<!--            한번 만든 주문서는 수정할 수 없어요!<br/>-->
<!--            잘못 만들었다면 새로 만들어 팀원에게 공유해주세요 :)-->
<!--        </p>-->
        <div class="order-info">
            <div class="input-group mb-3">
                <span class="input-group-text">이름</span>
                <input id="name" type="text" class="form-control">
            </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="menu">메뉴</label>
                <select onclick="show_menus()" class="form-select" id="menu">
                  <option selected>-- 골라보세요 --</option>
<!--                  <option value="아메리카노">아메리카노</option>-->
<!--                  <option value="딸기라떼">딸기라떼</option>-->
<!--                  <option value="그린티">그린티</option>-->
                </select>
              </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="type">타입</label>
                <select class="form-select" id="type">
                  <option selected>-- ICE/HOT --</option>
                  <option value="ICE">ICE</option>
                  <option value="HOT">HOT</option>
                </select>
              </div>
            <div class="input-group mb-3">
                <label class="input-group-text" for="size">사이즈</label>
                <select class="form-select" id="size">
                  <option selected>-- S/M/L --</option>
                  <option value="S">S</option>
                  <option value="M">M</option>
                  <option value="L">L</option>
                </select>
              </div>
              <button onclick="save_order()" type="button" class="btn btn-warning mybtn">주문하기</button>
        </div>

<!--    경록 주문 집계-->

        <div id="order_count_box" class="floating-box"
             style="width: 500px; background-color: darkgrey;">
            <p> 총 ${total_order_count} 잔</p>
            <p> ${id_order_count} ${no_order_count} 잔</p>
        </div>

<!--    경록 주문 정보-->
    <div class="mycards" , id="order_box">
        <div class="row row-cols-1 row-cols-md-2 g-2">
            <div class="col">
                <div class="card h-77">
                    <div class="card-header" style="background-color: darkgrey;">
                    </div>
                    <div class="card-body" style="background-color: darkgrey;">
                        <h5 class="card-title">${name}
                            <button type="button" id="order-delete-btn" class="btn-sm float-right" onclick="deleteItem()"> X </button>
                        </h5>
                        <p class="card-text">${menu}</p>
                        <p>${size}</p>
                        <p>${type}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-77">
                    <div class="card-header" style="background-color: darkgrey;">
                    </div>
                    <div class="card-body" style="background-color: darkgrey;">
                        <h5 class="card-title">${name}
                            <button type="button" id="order-delete-btn" class="btn-sm float-right" onclick="deleteItem()"> X </button>
                        </h5>
                        <p class="card-text">${menu}</p>
                        <p>${size}</p>
                        <p>${type}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-77">
                    <div class="card-header" style="background-color: darkgrey;">
                    </div>
                    <div class="card-body" style="background-color: darkgrey;">
                        <h5 class="card-title">${name}
                            <button type="button" id="order-delete-btn" class="btn-sm float-right" onclick="deleteItem()"> X </button>
                        </h5>
                        <p class="card-text">${menu}</p>
                        <p>${size}</p>
                        <p>${type}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-77">
                    <div class="card-header" style="background-color: darkgrey;">
                    </div>
                    <div class="card-body" style="background-color: darkgrey;">
                        <h5 class="card-title">${name}
                            <button type="button" id="order-delete-btn" class="btn-sm float-right" onclick="deleteItem()"> X </button>
                        </h5>
                        <p class="card-text">${menu}</p>
                        <p>${size}</p>
                        <p>${type}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card h-77">
                    <div class="card-header" style="background-color: darkgrey;">
                    </div>
                    <div class="card-body" style="background-color: darkgrey;">
                        <h5 class="card-title">${name}
                            <button type="button" id="order-delete-btn" class="btn-sm float-right" onclick="deleteItem()"> X </button>
                        </h5>
                        <p class="card-text">${menu}</p>
                        <p>${size}</p>
                        <p>${type}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>